<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="https://cdn.toddr.org/assets/images/todd.jpg" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/assets/resume.pdf"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Resume</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/projects"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">My Work</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
