<footer id="footer">
    <!--Footer Button-->
    <div class="container has-text-centered has-background-grey-darker" id="backtotop">
        <a class="has-text-white" onclick="window.scroll(0,0)">BACK TO TOP</a>
    </div>
    <!--Footer Main Section-->
    <div class="has-background-grey-darker">
        <div class="container columns">
            <!--Name Section-->
            <div class="column has-text-left-desktop has-text-centered-mobile">
                <a href="{{site.url}}{{site.baseurl}}/#about">
                    <div class="columns">
                        <div class="column is-one-fifth-desktop is-one-fifth-fullhd is-one-quarter-tablet">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="{{site.author-image}}">
                            </figure>
                        </div>
                        <div class="column is-marginless">
                          <br/>
                            <h5 class="has-text-grey-lighter">{{site.author-name}}</h5>
                            <br/>
                        </div>
                    </div>
                </a>
            </div>

            <!--Blog-post Section-->
            <div class="column has-text-white">
                <h3>My Software</h3>
                <a href="https://canvas.toddr.org">Assignment Canvas</a>
                <a href="https://cpu.toddr.org">CPU Emulator</a>
                <a href="https://scholastic.toddr.org">Scholastic Bowl Bot</a>
            </div>
        </div>
    </div>
    <div class="has-background-black has-text-centered has-text-white" id="credits">
        <i class="far fa-copyright"></i> {{ "now" | date: "%Y" }} | <a href="https://toddr.org" target="_blank" rel="noopener noreferrer">Todd Rylaarsdam</a> - <a href="https://toddr.org/legal" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
    </div>
</footer>